.option label{
   display:block;
   color: rgb(0, 0, 0);
   border-radius: 1.5rem;
   -webkit-border-radius: 1.5rem;
   -moz-border-radius: 1.5rem;
   -ms-border-radius: 1.5rem;
   -o-border-radius: 1.5rem;
   width: 100%;
   padding: 1px;
   font-family: 'Oswald', sans-serif!important; 
   font-weight: 600;
   text-transform: capitalize;
   letter-spacing: 0.2rem;
   padding: 1rem;
   
}
.option{
   background: rgb(255, 255, 255);
   display: flex;
   gap: 1rem;
   padding-left: 1rem;
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
}

.correct{
   background: rgb(0, 255, 55);    
}

.incorrect{
   background: red; 
}