/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@300;400;500;600;700&display=swap');

/* Basic Typography  */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 65.5%;
}
body{
  font-family: 'Lobster' cursive;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
  font-family: 'Lobster', cursive;
  letter-spacing: 0.3rem;
}
p{
  font-size: 1.6rem;
}
a{
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Lobster', cursive;
  letter-spacing: 0.2rem;
}

img{
  width: 100%;
  height: auto;
}
.container{
  width: 95%;
  margin: 0 auto; 
}

@media screen and (min-width: 0px) and (max-width: 578px) {
    html,body{
      font-size: 50%;
    }
    .container{
        width:90%; 
    }
}

@media screen and (min-width: 579px) and (max-width: 920px) {
    html,body{
      font-size: 67%;
    }
    .container{
        width:90%; 
    }
}